/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background: #444;
}
.main_wrapper {
    background: white;
    height: 221px;
    width: 362px;
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid;
    border-radius: 15px;
}
.main_wrapper .header {
   padding: 15px 20px 10px 15px;
   border-bottom: 1px solid #ddd;
   clear: both;
   overflow: hidden;
}
.main_wrapper .header .logo {
    height: 100px;
    width: 100px;
    background: #556370;
    float: left;
}
.main_wrapper .header .data {
    float: right;
    width: 210px;
}
.main_wrapper .header .data .name{
    font-size: 25px;
    font-weight: bold;
    
}
.main_wrapper .header .data .email {
    font-size: 14px;
    padding-top: 5px;
}
.main_wrapper .header .data .location{
    padding-top: 15px;
    font-size: 13px;
    color: #aaa;
}
.main_wrapper .header .data a{
    font-size: 13px;
    color: #5A92B4;
    text-decoration: none;
}